In [50]:
from pathlib import Path
import os
import json
script_dir = os.path.dirname(Path().absolute())
generated_snippets = json.load(open(os.path.join(script_dir, "ExtractiveSnipp/data/snippetsGenerated.txt")))
data_snippets = json.load(open(os.path.join(script_dir, "ExtractiveSnipp/data/snippets.txt")))

In [51]:
generated_snippets[0:2]

[{'id': 'abortion-01',
  'snippet-title': 'Women who already had abortion earlier in there life time have abortion again.',
  'snippets-text': ['Women who already had abortion earlier in there life time have abortion again.',
   'By the 12th week of pregnancies 88.7% of women have abortion.'],
  'aspects': {'abortion': 0.5, 'women': 0.5},
  'sentences': "In 2011 there were about 730,322 abortions reported to the centers for disease control. There are about 1.7% of abortion of women's ages from 15-44 each year. Women who already had abortion earlier in there life time have abortion again. At the age of 45 a women will have at least one abortion. By the 12th week of pregnancies 88.7% of women have abortion. In the U.S. black women are 3.3 times likely to have an abortion than white women."},
 {'id': 'abortion-02',
  'snippet-title': 'Abortion is wrong!',
  'snippets-text': ['Abortion is wrong!', 'Abortion is MURDER!!!'],
  'aspects': {'abortion': 1.0},
  'sentences': 'Abortion is wrong! Abortion Is gross! Abortion is MURDER!!!!'}]

In [52]:
arg_aspects = []
for arguments in generated_snippets:
    arg_aspects.append(arguments['aspects'])
len(arg_aspects)

77

In [53]:
len(generated_snippets)

77

In [54]:
len(data_snippets)

100

In [55]:
type(data_snippets)

list

In [56]:
count = 0
data_snippets_filtered = []
for argument in data_snippets:

    # print(argument['sentences'])
    if len(argument['sentences']) > 2:
        data_snippets_filtered.append(argument)
        count = count + 1 
        
        
        
print(count)

77

In [57]:
data_snippets[0:2]

[{'topic': 'Abortion',
  'query': 'abortion',
  'arg_id': 'abortion-01',
  'sentences': ['In 2011 there were about 730,322 abortions reported to the centers for disease control.',
   "There are about 1.7% of abortion of women's ages from 15-44 each year.",
   'Women who already had abortion earlier in there life time have abortion again.',
   'At the age of 45 a women will have at least one abortion.',
   'By the 12th week of pregnancies 88.7% of women have abortion.',
   'In the U.S. black women are 3.3 times likely to have an abortion than white women.'],
  'snippet': ['Women who already had abortion earlier in there life time have abortion again.',
   'At the age of 45 a women will have at least one abortion.']},
 {'topic': 'Abortion',
  'query': 'abortion',
  'arg_id': 'abortion-02',
  'sentences': ['Abortion is wrong!',
   'Abortion Is gross!',
   'Abortion is MURDER!!!!'],
  'snippet': ['Abortion is wrong!', 'Abortion is MURDER!!!!']}]

In [58]:
len(data_snippets)

100

In [59]:
count = 0
for argument in data_snippets:
    if len(argument['sentences']) <= 2:
        count +=1
print(count)

23

In [60]:
len(data_snippets)

100

In [61]:
len(data_snippets)

100

In [62]:
import pandas as pd
data_snippets_df = pd.json_normalize(data_snippets_filtered)
generated_snippets_df = pd.json_normalize(generated_snippets)

In [63]:
generated_snippets_df[0:2]

,id,snippet-title,snippets-text,sentences,aspects.abortion,aspects.women,aspects.mother teresa,aspects.depression,aspects.woman,aspects.controversy,...,aspects.solar power,aspects.soviet union,aspects.black lives matter,aspects.racism,aspects.obesity,aspects.pat buchanan,aspects.veganism,aspects.cancer,aspects.nutrition,aspects.longevity
0,abortion-01,Women who already had abortion earlier in ther...,[Women who already had abortion earlier in the...,"In 2011 there were about 730,322 abortions rep...",0.5,0.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abortion-02,Abortion is wrong!,"[Abortion is wrong!, Abortion is MURDER!!!]",Abortion is wrong! Abortion Is gross! Abortion...,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
data_snippets_df.head()

,topic,query,arg_id,sentences,snippet
0,Abortion,abortion,abortion-01,"[In 2011 there were about 730,322 abortions re...",[Women who already had abortion earlier in the...
1,Abortion,abortion,abortion-02,"[Abortion is wrong!, Abortion Is gross!, Abort...","[Abortion is wrong!, Abortion is MURDER!!!!]"
2,Abortion,abortion,abortion-03,"[""The greatest destroyer of peace is abortion ...","[""The greatest destroyer of peace is abortion ..."
3,abortion,abortion,abortion-04,[Yes the government has the obligation to prot...,[Yes the government has the obligation to prot...
4,Abortion,abortion,abortion-05,"[Thank you, Pro., Negative Case A1: False equi...",[There is no child death involved in not getti...

In [65]:
len(data_snippets_df)

77

In [66]:
generated_snippets_df=generated_snippets_df=generated_snippets_df.iloc[:,0:3]
generated_snippets_df.head()

,id,snippet-title,snippets-text
0,abortion-01,Women who already had abortion earlier in ther...,[Women who already had abortion earlier in the...
1,abortion-02,Abortion is wrong!,"[Abortion is wrong!, Abortion is MURDER!!!]"
2,abortion-03,"Abortion is a big controversial topic, people ...","[Abortion is a big controversial topic, people..."
3,abortion-04,And the mothers life in danger doesn't always ...,[And the mothers life in danger doesn't always...
4,abortion-05,"In other words, it would be okay to abort in t...","[In other words, it would be okay to abort in ..."

In [67]:
# snippets_data = data_snippets_df.to_json(orient='records',lines=True)

In [68]:
data_snippets_df.head(2)

,topic,query,arg_id,sentences,snippet
0,Abortion,abortion,abortion-01,"[In 2011 there were about 730,322 abortions re...",[Women who already had abortion earlier in the...
1,Abortion,abortion,abortion-02,"[Abortion is wrong!, Abortion Is gross!, Abort...","[Abortion is wrong!, Abortion is MURDER!!!!]"

In [69]:
generated_snippets_df.head(2)

,id,snippet-title,snippets-text
0,abortion-01,Women who already had abortion earlier in ther...,[Women who already had abortion earlier in the...
1,abortion-02,Abortion is wrong!,"[Abortion is wrong!, Abortion is MURDER!!!]"

In [70]:
generated_snippets_df.insert(2,'generated_snippets',data_snippets_df['snippet'])

In [71]:
generated_snippets_df.head(2)

,id,snippet-title,generated_snippets,snippets-text
0,abortion-01,Women who already had abortion earlier in ther...,[Women who already had abortion earlier in the...,[Women who already had abortion earlier in the...
1,abortion-02,Abortion is wrong!,"[Abortion is wrong!, Abortion is MURDER!!!!]","[Abortion is wrong!, Abortion is MURDER!!!]"

In [72]:
count = 0
for index, row in generated_snippets_df.iterrows():
                # x= dict object of aspect detected
                snippets_detected=row['generated_snippets']
                snippets_answer=row['snippets-text']
                #print(other_args_dict)
                for x in snippets_answer:
                    for y in snippets_detected:
                        #print(x)
                        #print(y)
                        #print("-------------")
                        if x==y:
                            count= count + 1
                            #print('match')

In [73]:
count

63

In [74]:
accuracy =(100.0 * count)/ ( 2 * len(generated_snippets))
accuracy

40.90909090909091

In [541]:
#import pickle5 as pickle
#with open("data/argumentAspectsDataset_df_re.pkl", "rb") as fh:
  #Arguments_df = pickle.load(fh)

In [542]:
import pandas as pd 
Arguments_df = pd.read_pickle('data/ArgumentsDatasets.pkl')
Arguments_df.head(2)

,id,text,stance,context.aspects,conclusion,re_aspects_list,dict_weighted_args_dataset_list_re,arg_id
0,S96f2396e-Acb88a01b,A 2010 letter from US senators to president Ob...,PRO,"[{'name': 'NATO', 'weight': 1.0, 'normalizedWe...",US and others have securely gone w/o mines for...,{'nato': 1},{'nato': 1.0},0
1,S96f2396e-Aa5e37f4a,"""U.S. Use of Landmines in Korea: Myths and Rea...",PRO,"[{'name': 'Korean War', 'weight': 1.0, 'normal...",Landmines in N. Korea are a threat to civilians,{'korean war': 1},{'korean war': 1.0},1

In [124]:
Arguments_df['arg_id'].nunique()

19957

In [125]:
arguments_datasets_aspects = Arguments_df['dict_weighted_args_dataset_list_re']
type(arguments_datasets_aspects[0])

dict

In [127]:
# from collections import OrderedDict
argument_similar_ids=[]
argument_similar_ids_count=[]

for dict_aspects in arg_aspects:
    print(dict_aspects)
    score=0
    arg_id_score= dict()
    arg_id_list=[]



    for aspect in dict_aspects:
        aspect_word_count=len(aspect.split())
        aspect_weight=dict_aspects[aspect]
        if aspect_weight >= 0.33:
            
            for index, row in Arguments_df.iterrows():
                    # x= dict object of aspect detected
                    other_args_dict= row['dict_weighted_args_dataset_list_re']

                    if aspect in other_args_dict and other_args_dict[aspect] >0.25:
                        arg_id=row['arg_id']
                        if arg_id in arg_id_score:
                            # print('match found')
                            # print(other_args_dict[aspect])
                        
                            # print(score)
                            # print(arg_id)
                            arg_id_score[arg_id]= score + other_args_dict[aspect]
                        #other_args_dict[aspect]= round(other_args_dict[aspect],2)
                        else:

                            score=other_args_dict[aspect]
                            arg_id_score[arg_id]=score
                            
    arg_id_score=dict(sorted(arg_id_score.items(), key=lambda item: item[1],reverse=True))
    
    #print(arg_id_score)
    argument_similar_ids.append(arg_id_score)
    #print(arg_id_score)
    
    argument_similar_ids_count.append(len(arg_id_score))
    print(len(arg_id_score))

{'abortion': 0.5, 'women': 0.5}
1606
{'abortion': 1.0}
393
{'abortion': 0.8, 'mother teresa': 0.1, 'women': 0.1}
393
{'abortion': 0.7142857142857143, 'depression': 0.07142857142857142, 'woman': 0.07142857142857142, 'women': 0.14285714285714285}
393
{'abortion': 1.0}
393
{'abortion': 0.8461538461538461, 'controversy': 0.038461538461538464, 'women': 0.11538461538461539}
393
{'abortion': 0.8333333333333334, 'women': 0.16666666666666666}
393
{'abortion': 1.0}
393
{'abortion': 0.5384615384615384, 'women': 0.46153846153846156}
1606
{'abortion': 0.8529411764705882, 'depression': 0.029411764705882353, 'rape': 0.029411764705882353, 'woman': 0.058823529411764705, 'women': 0.029411764705882353}
393
{'european union': 0.125, 'ireland': 0.25, 'japan': 0.125, 'nato': 0.125, 'northern ireland': 0.125, 'spain': 0.125, 'world war ii': 0.125}
0
{'political correctness': 1.0}
18
{'free trade': 1.0}
294
{}
0
{}
0
{'european union': 0.8, 'tax': 0.2}
451
{}
0
{}
0
{}
0
{}
0
{}
0
{'global warming': 1.0}
352
{'pornography': 1.0}
141
{}
0
{'al gore': 0.3333333333333333, 'ms': 0.3333333333333333, 'race': 0.3333333333333333}
322
{}
0
{'capital punishment': 1.0}
159
{'capital punishment': 1.0}
159
{}
0
{}
0
{'gun control': 0.5, 'louisiana': 0.5}
49
{'tax': 1.0}
1363
{}
0
{}
0
{'donald trump': 0.75, 'republican party': 0.25}
6
{'donald trump': 1.0}
6
{'donald trump': 0.47619047619047616, 'ku klux klan': 0.047619047619047616, 'mexico': 0.23809523809523808, 'tax': 0.047619047619047616, 'women': 0.19047619047619047}
6
{'donald trump': 1.0}
6
{'donald trump': 1.0}
6
{'donald trump': 1.0}
6
{'donald trump': 0.6, 'william shakespeare': 0.2, 'women': 0.2}
6
{'donald trump': 0.8, 'god': 0.2}
6
{'donald trump': 1.0}
6
{'cult': 0.03125, 'donald trump': 0.65625, 'drugs': 0.0625, 'islam': 0.09375, 'mexico': 0.03125, 'race': 0.03125, 'rape': 0.09375}
6
{'feminism': 0.5, 'women': 0.5}
1299
{'feminism': 0.42857142857142855, 'woman': 0.14285714285714285, 'women': 0.42857142857142855}
1299
{'feminism': 1.0}
29
{'feminism': 0.42857142857142855, 'gender': 0.14285714285714285, 'women': 0.42857142857142855}
1299
{'feminism': 0.5, 'rape': 0.25, 'women': 0.25}
29
{'feminism': 0.5833333333333334, 'gender': 0.16666666666666666, 'homosexuality': 0.08333333333333333, 'woman': 0.08333333333333333, 'women': 0.08333333333333333}
29
{'feminism': 0.75, 'women': 0.25}
29
{'feminism': 1.0}
29
{'feminism': 0.32, 'gender': 0.04, 'rape': 0.44, 'women': 0.2}
121
{'google': 1.0}
242
{'google': 1.0}
242
{'google': 1.0}
242
{'google': 1.0}
242
{'google': 0.875, 'youtube': 0.125}
242
{'google': 0.9285714285714286, 'youtube': 0.07142857142857142}
242
{'google': 1.0}
242
{'google': 1.0}
242
{'chernobyl': 0.13333333333333333, 'fossil fuels': 0.13333333333333333, 'global warming': 0.06666666666666667, 'japan': 0.13333333333333333, 'nuclear power': 0.2, 'recycling': 0.06666666666666667, 'solar power': 0.13333333333333333, 'soviet union': 0.13333333333333333}
0
{}
0
{'nuclear power': 1.0}
197
{}
0
{'black lives matter': 0.16666666666666666, 'donald trump': 0.16666666666666666, 'racism': 0.6666666666666666}
109
{'god': 0.16666666666666666, 'japan': 0.16666666666666666, 'mexico': 0.5, 'obesity': 0.16666666666666666}
238
{'mexico': 0.3333333333333333, 'pat buchanan': 0.16666666666666666, 'racism': 0.5}
345
{'donald trump': 0.3333333333333333, 'mexico': 0.6666666666666666}
244
{'god': 0.125, 'veganism': 0.875}
1
{'cancer': 0.5, 'controversy': 0.125, 'nutrition': 0.25, 'obesity': 0.125}
137
{'cancer': 0.5, 'controversy': 0.125, 'nutrition': 0.25, 'obesity': 0.125}
137
{}
0
{'god': 0.3333333333333333, 'veganism': 0.6666666666666666}
518
{}
0
{'cancer': 0.3333333333333333, 'longevity': 0.3333333333333333, 'nutrition': 0.2222222222222222, 'obesity': 0.1111111111111111}
149
{'veganism': 1.0}
1

In [128]:
print(argument_similar_ids_count)

[1606, 393, 393, 393, 393, 393, 393, 393, 1606, 393, 0, 18, 294, 0, 0, 451, 0, 0, 0, 0, 0, 352, 141, 0, 322, 0, 159, 159, 0, 0, 49, 1363, 0, 0, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 1299, 1299, 29, 1299, 29, 29, 29, 29, 121, 242, 242, 242, 242, 242, 242, 242, 242, 0, 0, 197, 0, 109, 238, 345, 244, 1, 137, 137, 0, 518, 0, 149, 1]

In [129]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [130]:
f = open("data\WikiAspects.txt", encoding='utf8')
aspect_list = f.read().lower().split('\n')
len(aspect_list)

1081

In [131]:
len(argument_similar_ids)

77

In [132]:
len(argument_similar_ids[0])

1606

In [133]:
ArgumentativeText_args_list =[]
for argument_similar_ids_dict in argument_similar_ids:
    #print(len(argument_similar_ids_list))
    # take first 50 arguments
    argument_similar_ids_list = list(argument_similar_ids_dict.keys())
    if len(argument_similar_ids_list) <= 50: 
        argument_similar_ids_top = argument_similar_ids_list
    else:
        argument_similar_ids_top = argument_similar_ids_list[:50]  
        # print(type(argument_similar_ids_top)) 
    # print(len(argument_similar_ids_top))
    ArgumentativeText_args = []
    for argument_similar_id in argument_similar_ids_top:
        # print(argument_similar_id)
        ArgumentativeText = Arguments_df['text'][argument_similar_id] + Arguments_df['conclusion'][argument_similar_id]
        ArgumentativeText_args.append(ArgumentativeText)
    ArgumentativeText_args_list.append(ArgumentativeText_args)

In [134]:
len(ArgumentativeText_args_list)

77

In [135]:
ArgumentativeText_args_list[-1]

["As evolved human beings it is our moral duty to inflict as little pain as possible for our survival. So if we do not need to inflict pain to animals in order to survive, we should not do it. Farm animals such as chickens, pigs, sheep, and cows are sentient living beings like us - they are our evolutionary cousins and like us they can feel pleasure and pain. The 18th\xa0century utilitarian philosopher Jeremy Bentham even believed that animal suffering was just as serious as human suffering and likened the idea of human superiority to racism. \xa0It is wrong to farm and kill these animals for food when we do not need to do so. The methods of farming and slaughter of these animals are often barbaric and cruel - even on supposedly 'free range' farms.[1]\xa0Ten billion animals were slaughtered for human consumption each year, stated PETA. And unlike the farms long time ago, where animals roamed freely, today, most animals are factory farmed: \x97crammed into cages where they can barely move and fed a diet adulterated with pesticides and antibiotics. These animals spend their entire lives in their “prisoner cells” so small that they can't even turn around. Many suffer serious health problems and even death because they are selectively bred to grow or produce milk or eggs at a far greater rate than their bodies are capable of coping with. At the slaughterhouse, there were millions of others who are killed every year for food. Further on Tom Regan explains that all duties regarding animals are indirect duties to one another from a philosophical point of view. He illustrates it with an analogy regarding children: “Children, for example, are unable to sign contracts and lack rights. But they are protected by the moral contract nonetheless because of the sentimental interests of others. So we have, then, duties involving these children, duties regarding them, but no duties to them. Our duties in their case are indirect duties to other human beings, usually their parents.”[2]\xa0With this he supports the theory that animals must be protected from suffering, as it is moral to protect any living being from suffering, not because we have a moral contract with them, but mainly due to respect of life and recognition of suffering itself.\xa0\xa0\xa0 [1]\xa0Claire Suddath, A brief history of Veganism, Time, 30 October 2008 [2]\xa0Tom Regan, The case for animal rights, 1989It is immoral to kill animals"]

In [136]:
 Arguments_df['conclusion'][10939]

'Very thin models need to be protected by the state from themselves. Many models are too young to be...'

In [137]:
Arguments_df['conclusion'][10939] + Arguments_df['text'][10939]

'Very thin models need to be protected by the state from themselves. Many models are too young to be...We should not pass rules and laws against thin models working. They are grown women who are capable of making their own decisions about their bodies and their careers. For many of them modelling has been a dream they have followed for many years – just like gymnasts, bodybuilders or actresses. Should we punish anyone who is single-minded in pursuing their ambitions, just because we disapprove of them? And any attack on women’s right of control over their own bodies risks removing their right to choose in other areas, such as abortion.'